{{ define "header_css" }}{{ end }}

{{ define "main" }}

<div class="w-full bg-gray-50 py-44 dark:bg-gray-800 feature">
  <div class="max-w-screen-md mx-5 md:mx-auto text-center lg:text-left">
    <h1 class="tracking-tight font-extrabold text-gray-900 text-6xl">
      <span class="block xl:inline text-indigo-600 dark:text-white">MY WORK</span>
    </h1>
    <p class="mt-5 text-base text-gray-500 sm:mt-5 text-lg sm:mx-auto md:text-xl lg:mx-0">
          I've been lucky to work with amazing people at incredible organizations. Together we've shipped products that impact millions of people's lives, and empower businesses on a global scale. Here is a selection of some of my favourite projects that I've led and worked on.
        </p>
  </div>
</div>

<div class="w-auto md:max-w-screen-md md:mx-auto mt-4 prose" id="content">
  <div class="mx-5">
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        <a href="https://www.shopify.ca/blog/live-view" target="_blank" class="px-2 py-1">Liveview</a>
      </h2>
      <p class="text-m pt-2 text-gray-500 ">Shopify - 2021</p>
    </div>
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        Liveview
      </h2>
      <p class="text-m pt-2 text-gray-500">Shopify - 2020</p>
    </div>
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        UX Details
      </h2>
      <p class="text-m pt-2 text-gray-500">Personal - 2020</p>
    </div>
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        <a href="https://www.shopify.ca/plus" target="_blank" class="px-2 py-1">Shopify Plus Navigation</a>
      </h2>
      <p class="text-m pt-2 text-gray-500">Shopify - 2019</p>
    </div>
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        Sales tax configuration
      </h2>
      <p class="text-m pt-2 text-gray-500">Shopify - 2019</p>
    </div>
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        Centralized Commerce Objects
      </h2>
      <p class="text-m pt-2 text-gray-500">Shopify - 2018</p>
    </div>
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        <a href="https://apps.shopify.com/launchpad" target="_blank" class="px-2 py-1">Launchpad</a>
      </h2>
      <p class="text-m pt-2 text-gray-500">Shopify - 2017</p>
    </div>
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        Shush - Baby sleep app
      </h2>
      <p class="text-m pt-2 text-gray-500">Personal - 2015</p>
    </div>
    <div class="workcard-copy text-lg">
      <h2 class="text-2xl uppercase">
        <a href="https://www.shopify.ca/blog/live-view" target="_blank" class="px-2 py-1">Results Driver</a>
      </h2>
      <p class="text-m pt-2 text-gray-500">Achievers - 2014</p>
    </div>
  </div>
</div>
{{ end }}