<div class="">
    <div class="w-full mx-auto absolute">
        <nav class="flex items-center justify-between flex-wrap p-6 md:px-0 md:py-6 md:max-w-screen-md mx-auto">
            <div class="flex items-center flex-no-shrink mr-6">
                <a href="{{ .Site.BaseURL }}">
                    <img src="/img/ms-3d-logo.png">
                    <!--
                    <svg x="0px" y="0px" width="30" height="30" viewBox="0 0 100 100" class="fill-current dark:text-white" xmlns="http://www.w3.org/2000/svg"> 
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M50 .324c-41.175 0-50 8.825-50 50s8.825 50 50 50 50-8.825 50-50-8.825-50-50-50zM46.784 57.18a1.528 1.528 0 001.528 0l8.94-5.16a1.07 1.07 0 011.604.925v18.059c0 .548.294 1.055.77 1.327l16.198 9.255a1.528 1.528 0 002.286-1.326V20.39a1.528 1.528 0 00-2.292-1.324l-27.506 15.88a1.528 1.528 0 01-1.528 0L22.182 20.744a1.528 1.528 0 00-2.292 1.323V40.77c0 .545.291 1.05.764 1.323l26.13 15.086z"/>
                    </svg>    
                -->        
                </a>
            </div>
            <div class="flex md:hidden">
                <button id="hamburgerbtn"
                    class="flex items-center px-3 py-1 text-gray-300 hover:text-white">
                    <span class="icon-menu text-2xl" aria-label="Hamburger Button"></span>
                </button>
            </div>
            <div class="hidden w-full md:flex md:flex-row sm:items-center md:w-auto" id="mobileMenu">
                <div class="text-sm lg:flex-grow">
                </div>
                <div class="navmenu {{ if or (in .Params.tags "nav") (.IsHome) }} navhome {{ end }}">
                    {{ $current := . }}
                    {{ range .Site.Menus.main }}
                    {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                    {{ $active = or $active (eq .Name $current.Title) }}
                    <a href="{{ .URL }}"
                        class="no-underline block mt-4 sm:inline-block sm:mt-0 text-gray-400 hover:text-white mr-4 uppercase text-sm text-center {{ if $active }}active{{ end }}" href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </nav>
    </div>
</div>
<style>
    html.wf-loading {
    opacity: 0;
}
.mobileactive {
        display: block;
    }
</style>
<script>
    let hamburger = document.getElementById('hamburgerbtn');

    let mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', function () {
        mobileMenu.classList.toggle('mobileactive');
    });
</script>
