.content {
  margin-bottom: 3em;
  margin-top: 3rem;
}
.content li {
  font-size: 1.1em;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.content a {
  color: #007bff;
}
.content a:hover {
  text-decoration: underline;
}
.content p {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 1.1em;
  letter-spacing: 0.03em;
}

.homecard {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.homecard::after {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.homecard:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

.homecard-copy h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0em;
  margin-top: 1rem;
}

.homecard-copy p {
  color: #ffffff;
  margin-bottom: 0em;
  margin-top: 0rem;
}

.workcard-copy a {
margin-left: 0;
border-radius: 4px;
background-color: #4770ff;
-webkit-transition: background-color .2s;
transition: background-color .2s;
color: #fff;
text-decoration: none;
}

.workcard-copy a:hover {
  background-color: #243039;
}

.workcard-copy h2 {
  margin-bottom: 0.1rem;
}

.title h1 {
  font-size: 3rem;
  margin-bottom: 0em;
  margin-top: 1rem;
}
.content h1 {
  font-size: 3rem;
  margin-bottom: 0em;
  margin-top: 5rem;
}
.content h2 {
  font-size: 1.4em;
  padding-top: 0.55em;
  padding-bottom: 0em;
  padding-left: 0em;
  border-left: none;
  font-weight: 700;
}
.content h3 {
  font-size: 1.5rem;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #222;
  font-weight: 700;
}
.content h4 {
  font-size: 1.25rem;
}
.date h4 {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: normal;
  color: #374151;
}
.content h5 {
  font-size: 1.125rem;
}
.content h6 {
  font-size: 1rem;
}
.content b {
  font-style: bold;
}
.content blockquote {
  background-color: #edf2f7;
  padding: 0.5rem 1rem;
}