/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";

@layer base {
    h1 {
        font-family: Open Sans;
        letter-spacing: -0.02em;
    }
    h2 {
        font-family: Open Sans;
        font-size: 1.6rem;
    }
    p {
        font-family: Source Sans Pro;
        font-weight: 400;
        letter-spacing: 0.025em;
    }
  }