<div class="rounded-xl bg-cover bg-center mb-16 relative h-650px homecard hover:shadow-xl" style="background-image: url('{{ .Params.image | relURL }}')">
    <!--{{ if .Params.image }}
    <img alt="thumbnail" id="thumb" class="rounded-lg bottom-0 left-0 w-full lg:{{ .Site.Params.post.thumbnail_width }} lg:{{ .Site.Params.post.thumbnail_height }}" src="{{ .Params.image | relURL }}" />
    {{ else }}
    <img alt="thumbnail" id="thumb" class="rounded-lg bottom-0 left-0 w-full" src="{{ "/img/default.jpg" | relURL }}">
    {{ end }}-->
    <!--<div class="flex justify-center">-->
    <div class="prose bottom-0 left-0 p-12 absolute homecard-copy">
        <h1>{{.Title}}</h1>
            <p class="opacity-70">
                <time>{{ .Date.Format "Jan 2, 2006" }}</time>
            </p>
    <!--</div>-->
</div>
</div>