{{ define "header_css" }}{{ end }}

{{ define "main" }}

<div class="width-full bg-green-500 py-60 bg-cover bg-center" style="background-image: url('{{ .Params.image | relURL }}')">
    
</div>

<div class="content prose w-auto md:max-w-screen-md mx-auto mt-20" id="content">
    <div class="mx-5">
        <div class="">
            <div class="">
                <h1 class="title text-4xl">{{.Title}}</h1>
                <aside id="meta">
                    <div class="date text-gray-500 text-sm">
                        <section>
                            <p id="date">{{ dateFormat "Jan 2, 2006" "2015-01-21" }}</p>
                        </section>
                    </div>
                </aside>
                <div class="content">{{.Content}}</div>
                <hr class="py-2">
                <aside id="meta">
                    {{ with .Params.categories }}
                    <div id="categories">
                        <span class="icon-folder text-xl mr-1"></span>
                        {{ range . }}
                        <span
                            class="inline-flex py-2 leading-4 mr-2 mb-2 content-center bg-gray-200 justify-center h-8 px-3 text-blue-500 hover:text-black"><a
                                href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a></span>
                        {{ end }}
                    </div>
                    {{ end }}
                    <div class="grid grid-cols-2">
                        <div class="col-span-1">
                            {{ with .PrevInSection }}
                            <a class="previous lg:text-2xl" href="{{.Permalink}}">
                                <div class="bg-gray-200 h-auto m-3 text-center py-3 lg:py-1">
                                    &lt; {{.Title}}
                                </div>
                            </a>
                            {{ end }}
                        </div>
                        {{ with .NextInSection }}
                        <a class="next lg:text-2xl" href="{{.Permalink}}">
                            <div class="col-span-1 bg-gray-200 h-auto m-3 text-center py-3 lg:py-1">
                                {{.Title}} &gt;
                            </div>
                        </a>
                        {{ end }}
                    </div>
                </aside>
                <hr class="py-2">
                <div class="mb-3">
                    {{ template "_internal/disqus.html" . }}
                </div>
            </div>
            <div class="">
                {{ partial "widgets/search.html" . }}
                {{ partial "widgets/archive.html" . }}
                {{ partial "widgets/category.html" . }}
                {{ partial "widgets/tags.html" . }}
                {{ partial "widgets/recent.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}
