<div class="w-full mx-auto absolute">
<nav class="relative flex flex-wrap items-center justify-between px-4 lg:px-0 py-6 mb-3 lg:max-w-screen-md mx-auto">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
      <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
        <!-- Website Logo -->
        <a href="{{ .Site.BaseURL }}">
            <svg x="0px" y="0px" width="40" height="40" viewBox="0 0 100 100" class="fill-current dark:text-white" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.63.321 50 15.331 86.363.353l.008 46.396-14.93-6.084V22.646l-21.455 8.826-21.424-8.825V34.09l57.81 23.819-.01 26.788-36.368 14.981-36.354-14.981-.009-29.54 14.931 6.084v13.455l21.44 8.832 21.439-8.832v-6.795L13.655 44.097 13.63.321z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.63.321 50 15.331 86.363.353l.008 46.396-14.93-6.084V22.646l-21.455 8.826-21.424-8.825V34.09l57.81 23.819-.01 26.788-36.368 14.981-36.354-14.981-.009-29.54 14.931 6.084v13.455l21.44 8.832 21.439-8.832v-6.795L13.655 44.097 13.63.321z"/>
            </svg>    
        </a>
        <button class="text-white cursor-pointer z-10 lg:hidden" type="button" onclick="toggleNavbar('example-collapse-navbar')">
            <svg class=" w-6 h-6 text-gray-500 hover:text-white"
            x-show="!showMenu"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
            >
            <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
      </div>
      <div class="lg:flex grow items-center hidden">
        <ul class="flex flex-col lg:flex-row list-none lg:ml-auto navmenu {{ if or (in .Params.tags "nav") (.IsHome) }} navhome {{ end }}">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            <li class="nav-item">
                <a href="{{ .URL }}"
                class="no-underline block mt-4 sm:inline-block sm:mt-0 text-gray-400 hover:text-white mr-4 uppercase text-sm text-center {{ if $active }}active{{ end }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
              </li>
            {{ end }}
        </ul>
      </div>
      <div class="lg:hidden w-full mx-auto">
      <div class="hidden bg-black/75 h-screen w-screen absolute top-0 left-0 py-8" id="example-collapse-navbar">
        <ul class="flex flex-col mx-auto list-none navmenu {{ if or (in .Params.tags "nav") (.IsHome) }} navhome {{ end }}">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            <li class="nav-item">
                <a href="{{ .URL }}"
                class="no-underline block mt-4 sm:inline-block sm:mt-0 text-gray-400 hover:text-white mx-auto uppercase text-sm text-center {{ if $active }}active{{ end }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
              </li>
            {{ end }}
        </ul>
      </div>
    </div>
    </div>
  </nav>
</div>
  <script>
    function toggleNavbar(collapseID){
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("flex");
    }
  </script>

  

  